<div class="container">
	<div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 g-4">
		{% for animal in animals %}
			<div class="col">
				<div class="card">
					<img src="{{ asset('build/images/merle.jpg') }}" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text d-none d-xl-block d-xxl-block">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<div class="text-center">
							<a href="https://getbootstrap.com/docs/5.1/components/card/" class="container-fluid btn btn-primary">Read more</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
