{% extends 'base.html.twig' %}

{% block title %}
    {{ refuge.name }}
    - Accueil
{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>Bienvenue sur notre site</h1>
    </div>
    <div class="container mt-5 pb-5">
        <div class="row">
            <div class="m-auto col-lg-7">
                {% set slides = [
                    {
                        img: asset('build/images/merle.jpg'),
                        img_alt: "Photo de merle",
                    },
                    {
                        img: asset('build/images/ecureuil.jpg'),
                        img_alt: "Photo de corbeau",
                    },
                    {
                        img: asset('build/images/renard.jpg'),
                        img_alt: "Photo de renard",
                    },
                ] %}
                {% include "component/carousel.html.twig" with { carouselId : "homePageCarousel" } %}
            </div>
        </div>
    </div>
    <div class="container col-11 col-lg-7 text-center bg-content mt-4 mb-5">
        <div class="row justify-content-center">
            <div class="col col-lg-auto ">
                <h3>{{ refuge.name }}</h3>
                <p>{{ refuge.name }}
                    est un centre de soins qui accueille les animaux blessés ou abandonnés. Nous avons besoin de votre aide pour continuer à sauver des vies.</p>
                <p class="fw-bolder">Vous avez trouvé un animal blessé !</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-11 col-lg-8 ">
                <a href="{{ path('app_message_new') }}" class="btn btn-info mt-2">Contactez nous</a>
            </div>
        </div>
    </div>
    <div
        class="container col-11 col-lg-7 text-center bg-content mt-4">
        {# Instagram Feeds #}
        {% include "component/instagram_feeds.html.twig" with {
            'sectionTitle': "Suivez nous sur les réseaux",
            'sub_title': "Suivez nos actualités sur Instagram !",
            'account_url': "https://www.instagram.com/agtn69/",
             } %}
    </div>
{% endblock %}
