<form method="post" action="{{ path('app_care_delete', {'id': care.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce soin ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ care.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
