{% extends 'base.html.twig' %}

{% block title %}New Care{% endblock %}

{% block body %}
    <h1>Create new Care</h1>

    {{ include('care/_form.html.twig') }}

    <a href="{{ path('app_care_index') }}">back to list</a>
{% endblock %}
