{% extends 'base.html.twig' %}

{% block title %}
	{{ website }}
	- Nos pensionnaires
{% endblock %}

{% block body %}

	<div class="container text-center welcome-container">
		<img class="mt-4" src="{{ asset('build/images/apple-touch-icon.png') }}" alt="Logo le refuge"/>
		<h1 class="mt-4">Nos pensionnaires</h1>
	</div>

	{% include "animal/_card.html.twig" %}

{% endblock %}
