{% extends 'base.html.twig' %}

{% block title %}New Animal{% endblock %}

{% block body %}
	<div class="container text-center welcome-container">
		<img class="mt-4" src="{{ asset('build/images/apple-touch-icon.png') }}" alt="Logo le refuge"/>
		<h1 class="mt-4">Ajouter un nouveau pensionnaire</h1>
	</div>

    {{ include('animal/_form.html.twig') }}

    <a href="{{ path('app_animal_index') }}">back to list</a>
{% endblock %}
