<form method="post" action="{{ path('app_type_of_care_delete', {'id': type_of_care.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce type de soin ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_of_care.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
