{% extends 'base.html.twig' %}

{% block title %}New TypeOfCare{% endblock %}

{% block body %}
    <h1>Create new TypeOfCare</h1>

    {{ include('type_of_care/_form.html.twig') }}

    <a href="{{ path('app_type_of_care_index') }}">back to list</a>
{% endblock %}
