{% extends 'base.html.twig' %}

{% block title %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ refuge.name }}
        - Ajouter un soigneurs.euses
    {% else %}
        {{ refuge.name }}
        - Accès refusé
    {% endif %}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container text-center">
            <h1>Ajouter soigneur.euse</h1>
        </div>
        <div class="container text-center bg-content mt-4">
            <div class="row justify-content-md-center">
                <div class="col col-lg-6">
                    {{ include('animal_keeper/_form.html.twig') }}
                    <div class="m-4">
                        <a href="{{ path('app_animal_keeper_index') }}">Retour à la liste des soigneur.euse.s</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% include "/_access_denied.html.twig" %}
    {% endif %}
{% endblock %}
