// assets/styles/app.scss

// customize some Bootstrap variables
$primary: darken(#3bd82c, 20%);
$primary-white-1: #FFFFFF;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $primary;
}

main {
    background-image: url("../images/foret.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {

    .navitemsright {
        flex-grow: 0;
    }
}

footer {
    height: 100%;

    img {
        height: 8rem;
    }
}

h1 {
    color: $primary-white-1;
}

label {
    background-color: $primary;
    border-radius: 10px;
    color: $primary-white-1;
    padding: 0.5em 1em;
}

legend {
    background-color: $primary;
    border-radius: 10px;
    color: $primary-white-1;
    padding: 0.5em 1em;
    margin-bottom: 0.5rem !important;
    width: auto;
    float: none;

}

.bg-content {
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 10px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.vich-file {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    #animal_photoFile_delete {
        float: none;
        vertical-align: middle;
    }

    label {
        margin-top: 1rem;
    }

    a {
        background-color: $primary;
        border-radius: 10px;
        color: $primary-white-1;
        padding: 0.5em 1em;
    }
}

.li-vicopo {
    list-style-type: none;
}
