// assets/styles/app.scss

// customize some Bootstrap variables
$primary: #228519;
$primary-white-1: #ffffff;
$secondary: #FFD786;
$info: #DBA053;
$link-color: black;
$link-hover-color: $primary;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

// import your own styles
body {
    background-image: url("../images/foret.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    .navitemsright {
        flex-grow: 0;
    }
}

@media screen and (min-width: 576px) {
    main {
        min-height: 520px;
    }
}

footer {
    height: 100%;

    img {
        height: 8rem;
    }
}

h1 {
    color: $primary-white-1;
}

.bg-content {
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 10px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bg-content-table {
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 10px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/** Vich File **/
.vich-file {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    #animal_photoFile_delete {
        float: none;
        vertical-align: middle;
    }

    label {
        margin-top: 1rem;
    }

    a {
        background-color: $primary;
        border-radius: 10px;
        color: $primary-white-1;
        padding: 0.5em 1em;
    }
}

/** Vicopo **/
.li-vicopo {
    list-style-type: none;
}

/** Connexion **/
.connexion-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connexion-container-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

/** Message **/
.message-text {
    text-decoration: none;
}

/** Instagram Feeds **/
.insta-media a {
    height: 366.617px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 2%;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    opacity: 1;
    display: block;
    transition-property: background, box-shadow, border, color, opacity, transform;
    transition-duration: 0.3s;
}

.insta-media a:hover {
    opacity: 0.85;
}
