// assets/styles/app.scss

// customize some Bootstrap variables
$primary: darken(#3bd82c, 20%);
$primary-white-1: #FFFFFF;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $primary;
}

main {
    background-image: url("../images/foret.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {

    .navitemsright {
        flex-grow: 0;
    }
}

h1 {
    color: $primary-white-1;
}

footer {
    height: 100%;

    img {
        height: 8rem;
    }
}