{% extends 'base.html.twig' %}

{% block title %}
    {{ refuge.name }}
    - Message envoyé
{% endblock %}

{% block body %}

    <div class="container text-center welcome-container">
        <img class="mt-4" src="{{ asset('build/images/apple-touch-icon.png') }}" alt="Logo le refuge"/>
        <h1 class="mt-4">Message envoyé</h1>
    </div>

    <div class="container text-center bg-content my-5">
        <div class="row justify-content-md-center">
            <div class="col col-lg-6">
                <h4>Merci, votre message a bien été envoyé et sera traité aussi vite que possible.</h4>
            </div>
        </div>
    </div>

{% endblock %}
