<form method="post" action="{{ path('app_follow_up_delete', {'id': follow_up.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce suivi ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ follow_up.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
