{% extends 'base.html.twig' %}

{% block title %}New FollowUp{% endblock %}

{% block body %}
    <h1>Create new FollowUp</h1>

    {{ include('follow_up/_form.html.twig') }}

    <a href="{{ path('app_follow_up_index') }}">back to list</a>
{% endblock %}
